.weather {
    display: block;
    width: 52px;
    height: 52px;
    background-image: url('../img/weather-icons.png');
}

img {border:0;}

.weather-36 { background-position: -10px 0px;} /*0,0 */
.weather-32 { background-position: -62px 0px;} /*0,1 */
.weather-34,
.weather-44 { background-position: -124px 0px;} /*0,2 */
.weather-27, .weather-30,
.weather-28 { background-position: -186px 0px;} /*0,3 */
.weather-21,
.weather-22 { background-position: -248px 0px;} /*0,4 */
.weather-37, .weather-38, .weather-45,
.weather-39 { background-position: -310px 0px;} /*0,5 */


.weather-31 { background-position: -124px -72px;} /*1,2 */
.weather-33,
.weather-29 { background-position: -186px -72px;} /*1,3 */


.weather-20 { background-position: -62px -144px;} /*2,1 */
.weather-25 { background-position: -124px -144px;} /*2,2 */
.weather-26 { background-position: -186px -144px;} /*2,3 */
.weather-11, .weather-12,
.weather-40 { background-position: -248px -144px;} /*2,4 */
.weather-9,
.weather-10 { background-position: -310px -144px;} /*2,5 */


.weather-8,
.weather-5  { background-position: -10px -216px;} /*3,0 */
.weather-3  { background-position: -62px -216px;} /*3,1 */
.weather-4  { background-position: -124px -216px;} /*3,2 */
.weather-35 { background-position: -186px -216px;} /*3,3 */
.weather-7, .weather-14, .weather-16, .weather-18, .weather-41, .weather-42,
.weather-43 { background-position: -248px -216px;} /*3,4 */
.weather-6, .weather-17,
.weather-46 { background-position: -310px -216px;} /*3,5 */


.weather-47 { background-position: -10px -288px;} /*4,0 */
.weather-24 { background-position: -62px -288px;} /*4,1 */
.weather-23 { background-position: -124px -288px;} /*4,2 */
.weather-19 { background-position: -186px -288px;} /*4,3 */
.weather-0  { background-position: -248px -288px;} /*4,4 */
.weather-1  { background-position: -310px -288px;} /*4,5 */

.weather-13,
.weather-15 { background-position: -248px -432px;} /*6,4 */
.weather-3200 { background-position: -310px -432px;} /*6,5 */